//header, ya le logo ohmyfood
header{
    display: flex;
    justify-content: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
    @include mobile-only{
      height: 5vh;
      @include marginLR;
  }
}







