

//bouton d'accueil pour explorer les restaurtants 
%buttonExploreRestarants{
    background-color: $colour-primary;
    height: 58px;
    width: 15vw;
    font-size: 18px;
    min-width:270px;
    font-weight: 700;
    color: white;
    border: none;
    border-radius: 40px;
    margin-bottom: 6vh;
    position: relative;
    z-index: 1;
    &:hover {
        &::after {
            opacity: 1;
    }
  }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 40px;
        background: radial-gradient(farthest-corner, lighten(#FF79DA,10) 1%, darken($colour-primary, 1) 100%);
        opacity: 0;
        z-index: -1;
        transition: opacity 250ms;
    }    
    @include mobile-only{
      margin-top: 18px;
      height: 34px;
      font-size: 12px;
      min-width: 172px;
      font-weight: 700;
      @include marginLR;
     
  }
  
  
  }

//bouton de menu pour commander
.button{ 
    display: flex;
   justify-content: center;
   align-items: center;
   height: 20vh;
   margin-top: -20px;
   width:100%;
   &__commande{
   background-color: $colour-primary;
     height: 6vh;
     width: 200px;
     font-size: 24px;
     color:white;
     border: none;
     border-radius: 40px;
     @include mobile-only{
       width: 50vw;
       font-weight:200;
       font-size: 20px;
       @include marginLR;
       position: relative;
       z-index: 1;
       &:hover {
           &::after {
               opacity: 1;
       }
   }
       &::after {
           content: "";
           position: absolute;
           top: 0;
           right: 0;
           bottom: 0;
           left: 0;
           border-radius: 40px;
           background: radial-gradient(farthest-corner, lighten(#FF79DA,10) 1%, darken($colour-primary, 1) 100%);
           opacity: 0;
           z-index: -1;
           transition: opacity 250ms;
       }    
     } 
   }

}