//section de reservation
.reservation{
    background-color: $colour-quaternary;
    text-align: center;

&__localisation{
      background-color:$colour-quinary;
      min-height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow:-2px 8px 5px -5px #bfbfbf inset;
    }
    .ville{
    margin-left:12px;
    font-size:22px;
    @include mobile-only{
      font-size:16px;
    }
    }
    &__title{
      font-weight:900;
     font-size: 3vw;
     width: 60%;
    @include marginLR;
    @include mobile-only{
      font-size: 19px;
    }
    }
    &__p{
      font-size: 1.8vw;
      width: 90%;
      @include marginLR;
      @include mobile-only{
        font-size: 4vw;
        width: 90%;
    }

    }
    &__button {
      @extend %buttonExploreRestarants;
    }
  
}




//section fonctionnement 
.fonctionnement{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight:bold;
  font-size: 13px;

  h2{
   align-self: flex-start;
   margin-left: 6%;
   font-size:28px;
   @include mobile-only{
    margin-left: 2vw;
    font-size: 20px;
    font-weight: bold;
    
  }
  }
 
  
  &__bloc{
   @extend %bloc__focntionnement;
  }
  .number{
    @extend %number__fonctionnement;
  }  
}

//section restaurants     
.restaurants{
  background-color:$colour-quaternary;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 40px;
  padding-bottom: 15px;
  @include mobile-only{
    padding-top: 13px;
    padding-bottom: 5px;
  }
  
          h2{
            margin-left: 0%;
            margin-bottom: 20px;
            font-size: 28px;
            @include mobile-only{
              margin-bottom: 17px;
              font-size: 20px;
            }
          }
          &__blocImage{
                        border-radius: 20px;
                        background-color: white;
                        padding-bottom: 4px;
                        margin-bottom: 22px;
                        @include marginLR;
                        width: 80%;
                        box-shadow: 3px 3px 14px $colour-senary;
                        @include mobile-only{
                          width: 100%;
                        }
                       &--dessus{
                           position: relative;
                           .image{
                            border-radius: 20px 20px 0  0  ;
                            width: 100%;
                            height:20em;
                            object-fit:cover;
                            @include mobile-only{
                            height: 120px;
                            width:100%;
                            object-fit:cover;
                            }

                           }
                           .nouveau{
                                position: absolute;
                                background-color: $colour-tertiary;
                                padding: 3px 5px;
                                font-size: 18px;
                                width: 5em;
                                right: 30px;
                                text-align: center;
                                top: 30px;
                                color:rgb(17, 128, 93); 
                                @include mobile-only{
                                  right: 10px;
                                  top: 10px;
                                  font-size: 13px;
                                  width: 4em;
                                  text-align: center;
                                }
                                  }
                             }
                        &--dessous{
                              display: flex;
                              flex-direction: row;
                              align-items:center;
                              justify-content: space-between;
                              padding: 0px 30px ;
                              @extend %colorHeart;
                              @include mobile-only{
                               height: 7vh;
                                }
                                .title_p{
                                  line-height: 6px;
                                  font-size: 18px;
                                  @include mobile-only{
                                    margin-left:-20px;
                                    font-size: 13px;
                                     }
                                }
                                .heart{
                                  font-size: 25px;
                                  margin-right: 20px;
                                  @include mobile-only{
                                  font-size: 20px;
                                  margin-right: 0%;
                                  }
                                }
                                   }
                       }
         
}

.meal__animation{
  visibility: hidden;
}