//bloc de fonctionnment dans la page d'accueil
%bloc__focntionnement{
  height: 80px;
  font-size: 24px;
  width:70vw;
  max-width: 500px;
  background-color:$colour-quaternary;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  position: relative;
  border-radius: 20px; 
  margin-bottom:20px;
  box-shadow: 3px 3px 14px $colour-senary;
  z-index: 1;
  cursor: pointer;
  @include mobile-only{
    font-size:14px;
    font-weight: 900;
    height: 60px;
  }
  &:hover {
    &::after {
        opacity: 1;
}
.icone__fonctionnement {
  color:$colour-primary ;
}
}
&::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 20px;
    background: radial-gradient(farthest-corner, lighten($colour-primary,33) 100%, darken($colour-primary, 10) 100%);
    opacity: 0;
    z-index: -1;
    transition: opacity 250ms;
} 
  

  .icone__fonctionnement {
    position: absolute;
    left: 53px;
    @include mobile-only{
      left: 10.5%;
    }
  }
%number__fonctionnement{
  background-color: $colour-primary;
  padding: 3px 8px 0px 8px;
  height: 28px;
  width: 14px;
  font-size: 22px;
  font-weight: 500;
  color: white;
  border-radius: 50%;
  position: absolute;
  left: -17px;  
  @include mobile-only{
    left: -12px; 
    padding: 3px 8px 0.8px 8px;
    height: 20px;
    font-weight: 500;
    color: white;
    border-radius: 50%;
    font-size: 14px;
    width: 10px;
    }
}
}



//color heart big title 
%colorHeart{
    .heart{
      position: relative;
      right: 10px;
     
      .far{
        position: absolute;
        z-index: 1;
        }
        .fa{
          position: absolute;
          color:white;
          z-index: 1;
          cursor: pointer;
          opacity: 0;
          &:hover{
            z-index: 1;
            cursor: pointer;
            color: $colour-primary;
            animation: heartColor 1.5s ease-out;
            opacity: 0.9;
            
          }
        }
        
  }
  }

  //extend to color heart in menu
%colorHeartMenu{
    .heart{
      position: absolute;
      right: 11vw;
      bottom: 70px;
      font-size: 30px;
      @include mobile-only{
        right: 62px;
        bottom: 38px;
        font-size: 24px;
      }

      
      .far{
        position: absolute;
        z-index: 0;
        }
        .fa{
          position: absolute;
          z-index: 1;
          cursor: pointer;
         opacity: 0;
          &:hover{
            z-index: 1;
            color:$colour-primary;
            animation: heartColor 1.5s ease-out;
            opacity: 0.9;
          
          }
        }
        
  }
  }  
%descriptionPrice{
    .mealAll{
      width:100%;
       .mealAnim{
        &:nth-child(1){
          @include childMealAnimation;
          animation-delay:$durationChildMeal*0;
        }
        &:nth-child(2){
          @include childMealAnimation;
          animation-delay:$durationChildMeal*2;
         
        }
        &:nth-child(3){
          @include childMealAnimation;
          animation-delay:$durationChildMeal*3;
         
        }
        &:nth-child(4){
          @include childMealAnimation;
          animation-delay:$durationChildMeal*4;
        }
        position: relative;
        margin-bottom: 10px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 15px 15px;
        box-shadow: 3px 3px 14px $colour-senary;
              .meal{
                display: flex;
                flex-direction: row;
                position: relative;
                justify-content: space-between;
                width: 100%;
                height: 100%;
                margin-bottom: 0px;
                @include marginLR();
                padding-right: 10px;
                padding-left: 10px;
                border-radius: 10px;
                .description{
                  width: 90%;
                  overflow: hidden;
                  h3{
                    overflow: hidden;
                      text-overflow: ellipsis;
                      white-space:nowrap;
                      width: 100%;
                      font-size: 22px;
                      line-height: 22px;
                  }
                  p{
                    overflow: hidden;
                    font-size: 20px;
                    line-height: 18px;
                    width: 100%;
                    text-overflow: ellipsis;
                    white-space:nowrap;
                  }
                }
                .price{
                padding-top: 64px;
    
                  white-space: nowrap; 
                  display: block;
                  position:absolute;
                  padding-right: 0px;
                  padding-left: 0px;
                  margin-left:-10px;
                  right: 10px;
                  font-size: 18px;
                  font-weight: bold;
                  width: 8%;
                  white-space: nowrap; 
                  display: block;




                }
              }
              .meal__animation{
                text-align: center;
                justify-content: center;
                display: flex;
                position: absolute;
                right: 0px;
                top: 0px;
                bottom: 0px;
                .fa-check{
                   margin:auto;
                  text-align: center;
                  background-color: white;
                  color: $colour-tertiary;
                  border-radius: 50%;
                  padding: 8px;
                  font-size: 18px;
                  margin-right: auto;
                  margin-left: auto;
                  overflow: hidden;
                }
              }
              &:hover{
                .meal{
                    animation: meal_desktop 1.5s  ease;
                    animation-fill-mode: both;
                    border-radius: 15px 0px 0px 15px;
                    margin-left: 0%;
                    margin-right: 0%;
                    cursor: pointer;
                }
                        .meal__animation{
                          border-radius: 0px 15px 15px 0px;
                          width: 5vw;
                          visibility: visible;
                          background-color: $colour-tertiary;
                          animation: icone_desktop 1.5s  ease both;        
                          margin-right: 0vw;
                          cursor: pointer;
                          & > .fas{
                          display: inline-block;
                          transform-origin: 0px left;
                          transform: rotate(360deg);
                          transition: transform 1.2s  ease;
                          }  
                     }
                 }
            
            }
    }}
    
   


   