@mixin marginLR {
    margin-right: auto;
    margin-left: auto; 
  }

  @mixin mobile-only {
    @media screen and (max-width: map-get($breakpoints, mobile)){
       @content;
    }
  }

 


    @mixin childMealAnimation {
        animation: progress-bar $durationChildMeal ease ;
        animation-fill-mode: both;
        transform-origin: top;
      }



//Mixines pages menu
@mixin smallSectionDescription {
    width:80%;
    background-color:$colour-quaternary;
    margin-bottom: 14px;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 10px;
    max-width: 90%;
      @include marginLR;
      h2{
        font-size: 25px;
        font-weight: 600;
        font-family: sans-serif, roboto ;
        color:rgba(0, 0, 0, 0.596);
        padding-bottom: 1vw;
        border-bottom: solid 0.2em $colour-tertiary;
        width: 80px;
      }
    @include mobile-only{
      width:100%;
      background-color: $colour-quaternary;
      h2{
        font-size: 4vw;
        font-weight: 500;
        font-family: sans-serif, roboto ;
        color:rgba(0, 0, 0, 0.596);
        padding-bottom: 2vw;
        border-bottom: solid 0.2em $colour-tertiary;
        width: 12vw;
      }
      
    }

}