$colour-primary:#9356DC ;
$colour-secondary:#FF79DA;
$colour-tertiary: #99E2D0;
$colour-quaternary:#f2f2f2;
$colour-quinary:#e6e6e6;
$colour-senary:#bfbfbf;

$font-family-title:shrikhand;


$withSmallSection:350px;

$durationChildMeal:150ms;


$breakpoints: (
  mobile: 768px
);






