@keyframes progress-bar {
    0% {
        transform: scaley(0);
    }
    33% {
        transform: scaley(.66);
   
    }
    66% {
      transform: scaley(.99);
  
  }
     100% {
        transform: scaley(1);
    }
  }



  @keyframes heartColor{
    0% {
        transform: scaleY(0);
        transform-origin: bottom;
    }
    100% {
        transform: scaleY(1);
    }
  }




    @keyframes time{
        0% { 
          position: absolute;
         top: -9999px;
          left: -9999px;
          
        }
       100% {
        
               opacity: 0;
        }
      }
    
      
      @keyframes spin {
        0% { transform: rotate(0deg);
              
              }
        100% { transform: rotate(360deg);
        }
      }


      @keyframes meal2 {
        0% {
          width: 95%;
        }
        100%{
         width:69%;
        }}

        @keyframes meal_desktop {
          0% {
            width: 95%;
          }
          100%{
           width:85%;
          }}




    @keyframes icone {
      0%{ width: 0px; }
      100%{width: 26%;}
       }

       @keyframes icone_desktop {
        0%{ width: 0px; }
        100%{width: 15%;}
         }